<ng2-smart-table [settings]="settings" [source]="data" (custom)="openNewOfferDialog($event)"></ng2-smart-table>


<!--Dialog Box Content-->
<ng-template #newOfferDialog let-modal>

  <div class="modal-header">

    <h4 class="modal-title" id="modal-basic-title" text-align="center">New Offer for <input [(ngModel)]="selectedProductDto.productNames" disabled="disabled" style="border:1px solid white" ></h4>

    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>

  <div class="modal-body">

    <form>
      <div class="form-group">
        <label for="" style="color: blue">Product Code</label>
        <input for="" [(ngModel)]="selectedProductDto.productCode" name="productCode" disabled="disabled" style="border:1px solid white" />
      </div>

      <div class="form-group">
        <label for="" style="color: blue">Category</label>
        <input for="" [(ngModel)]="selectedProductDto.categoryTitle" name="categoryTitle" disabled="disabled" style="border:1px solid white"/>
      </div>
      <div class="form-group">
        <label for="" style="color: blue">Available Stock</label>
        <input for="" [(ngModel)]="selectedProductDto.productAmount" name="productAmount" disabled="disabled" style="border:1px solid white"/>
      </div>
      <div class="form-group">
        <label for="" style="color: blue">Product Price</label>
        <input for="" [(ngModel)]="selectedProductDto.productPrice" name="productPrice" disabled="disabled" style="border:1px solid white" />
      </div>

      <div class="form-group">
        <label for="" >Your Price</label><br>
        <input [(ngModel)]="yourPrice" name ="yourPrice"/>
      </div>

      <div class="form-group">
        <label for="" >Your Amount</label><br>
        <input matInput [(ngModel)]="yourAmount" name="yourAmount" />
      </div>

    </form>

  </div>

  <div class="modal-footer">
<!--    <button mat-raised-button color="primary" class="w-100" type="submit" (click)="sendOffer()" >Register</button>-->
    <button type="button" class="btn btn-primary" (click)="sendOffer()">Send Offer</button>
  </div>

</ng-template>
