$table-font-color: #606c71;
$table-border-color: #e9ebec;

:host{
  /deep/ {

    table{
      color: $table-font-color;
      tr {
        td,th{
          border: 2px solid $table-border-color;
        }
      }
    }
  }
}


.modal-title.modal-title.h4{text-align: center}
